

body {
  font-family: "cuprum";
  font-size:  16px;

}


.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: 42px;
  background-color: #293449;

}
.header-top a {
  color: white;
}

h1 {
  font-size: 16px;
  font-family: "Cuprum";
  color: rgb(238, 54, 67);
  font-style: italic;
 

}

}

}

.logo {
  width: 220px;
  height: 51px;
  background-color: #ff3333;
}
 .logo:hover {
   background-color: #ca2c37; 
}

.logo:active {
   background-color: #ba2732;
}

.top-midel {
  display: flex;
  justify-content: baseline;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Cuprum';
  font-size: 17px;
  background-color: #32425c;
  list-style-type: none;
  width: 940px;
  /**padding-top: 20px;
  padding-bottom: 20px;**/
  margin:0 auto; 

}

 .header-nav li {
  align-items: stretch;
  height:60px;
 
}
 .header-nav a {
   color: white;
}

.header-nav li:hover {
  background-color: #293449;
}

.header-nav li:active {
  background-color: #1d2739;
}

.materials {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  
 

}

.goods {
  display: flex;
  width: 945px;
  margin: 0 auto;
  justify-content: space-between;
}
 .goods div {
   display: flex;
   flex-wrap: wrap;
 

  
}

.goods ul {
  display: flex;
  list-style-type: none;

  width: 220px;

}

.brand-list {

  display: flex;
  flex-wrap: wrap;
  width: 960px;
  list-style-type: none;
  justify-content: space-between;
}


  



}
 .brand:hover {
  box-shadow: #293449;
}

}


}



}
/* Спрятал кнопки*/
.hidden-button {
  display: none;
}
/*Картинке дал класс item и хочу при наведении видеть кнопки*/
.item:hover  {
display:block;
}

.popup {
  display: none;

}



.paint {
  margin: -20px 2px 0px 110px;
}

footer {
    background-color: #32425c;
}

.underfooter {
  background-color: #293449;
}