


.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: 42px;
  background-color: #293449;

}

.search::before {
content: icon;
background-image: url(icon-search.svg) no-repeat 50% 50%;

}
.header-top a {
  color: white;
}


}

.logo {
  width: 220px;
  height: 51px;
  background-color: #ff3333;
}
 .logo:hover {
   background-color: #ca2c37; 
}

.logo:active {
   background-color: #ba2732;
}

.top-midel {
  display: flex;
  justify-content: baseline;
}
h1 {
   
  font-size: 16px;
  font-family: "Cuprum";
  color: rgb(238, 54, 67);
  font-style: italic;
  line-height: 1.438;
  

}

.nav1 {
  align: center;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Cuprum';
  font-size: 17px;
  background-color: #32425c;
  list-style-type: none;
  width: 940px;
  height: 64px;
}
 .header-nav a {
   color: white;
}

.header-nav li:hover {
  background-color: #293449;
}

.header-nav li:active {
  background-color: #1d2739;
}

.materials {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #ffbf47;
  position: absolute;
  width: 300px;
  height: 123px;
  z-index: 189;

}

.goods {
  display: flex;
  justify-content: space-between;
  
}

.goods li {
  list-style-type: none;
}

.brand-list {

  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}


  



}
 .brand:hover {
  box-shadow: #293449;
}

}


}



}
/* Спрятал кнопки*/
.hidden-button {
  display: none;
}
/*Картинке дал класс item и хочу при наведении видеть кнопки*/
.item:hover  {
display: block;
}

.popup {
  display: none;

}

.new {
  float:  right;
}

.paint {
  margin: -20px 2px 0px 110px;
}

footer {
    background-color: #32425c;
}

.underfooter {
  background-color: #293449;
}